<div id="WhatToPlay">
    <h1>What To Play</h1>
    <form [formGroup]="formFields">
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" />
        </mat-form-field>
        <button mat-raised-button
            (click)="onSubmit()"
            [disabled]="lockInput"
        >
            Fetch List
        </button>
    </form>
    <p *ngIf="refetch > 0">Data loading. Re-fetch in {{refetch}} seconds...</p>
    <div class="toggle-btn-grp">
        <span>Loaded Users:</span>
        <mat-button-toggle-group
            name="loadedUsers"
            aria-label="Loaded Users"
            #userToggle="matButtonToggleGroup"
            (change)="toggleUser(userToggle.value)"
            multiple
        >
            <mat-button-toggle *ngFor="let user of usernameKeys()" value="{{user}}">
                {{user}}
            </mat-button-toggle>
        </mat-button-toggle-group>
        <p *ngIf="badUserCount">Please select three users to calculate and display diagram.</p>
    </div>
    <button mat-raised-button
        (click)="generateDiagram()"
        [disabled]="selectedUsers.length !== 3"
    >
        Generate Diagram
    </button>
    <div id="VennDiagram"></div>
    <div class="game-tiles">
        <h2 *ngIf="tileTitle.length > 0">{{tileTitle}}</h2>
        <div *ngFor="let game of gameTiles">
            <a href="https://boardgamegeek.com/boardgame/{{game.objectId}}" target="_blank">
                <img src="{{game.thumbnailUrl}}" alt="Thumbnail image for {{game.title}}" />
                {{game.title}}
            </a>
        </div>
    </div>
</div>