#WhatToPlay {
    margin: 0 64px 32px 64px;
}

#VennDiagram {
    width: 60%;
    height: 500px;
}

form > button {
    vertical-align: top;
    margin: 12px 8px;
}
.toggle-btn-grp {
    margin: 16px 0;

    > span {
        margin-right: 8px;
    }
}

.game-tiles {
    padding: 16px;

    > div {
        display: inline-block;
        width: calc(20% - 48px);
        min-height: 40px;
        padding: 4px;
        margin: 0 16px 16px 16px;
        border: 1px solid #123;
        border-radius: 4px;
        text-align: center;
        vertical-align: top;

        img {
            width: 80%;
            height: 200px;
            margin: 0 10%;
            background-color: #EEE;
            object-fit: contain;
        }
        a {
            display: inline-block;
            padding: 4px;
            
            &:hover {
                background-color: #DEF;
            }
        }
    }
}