$bgg-primary: #3F3A60;
$bgg-highlight: #FF5100;
$bgg-green: #1B7144;
$bgg-red: #C21721;

#YourGames {
    margin: 0 64px 32px 64px;
    
    form button {
        vertical-align: top;
        margin: 12px 8px;
    }
    table {
        width: calc(100% - 64px);
        min-width: 50%;
        margin: 32px;
        
        .mat-column-thumbnail {
            width: 120px;

            a {
                display: inline-block;
                width: 100%;
                height: 100px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
        td.mat-column-thumbnail {
            padding: 4px;

            &:hover {
                background-color: #DDD;
            }
        }
        .mat-column-own, .mat-column-wantToPlay {
            width: 140px;
        }
        .mat-icon.green-circle {
            height: 32px;
            width: 32px;
            font-size: 32px;
            font-weight: bold;
            color: $bgg-green;
        }
    }
}