<div id="AppHeader">
  <div class="left-side">
    <mat-icon *ngIf="sidebarActive === false" (click)="toggleSidebar()" fontIcon="menu" />
    <mat-icon *ngIf="sidebarActive === true" (click)="toggleSidebar()" fontIcon="keyboard_control_key" />
    <img src={{bggIcon}} />
    <p>Easy BGG</p>
  </div>
</div>
<div *ngIf="sidebarActive === true" id="AppSidebar">
  <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="toggleSidebar()">
    Home
  </a>
  <a routerLink="/my-games" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="toggleSidebar()">
    My Games
  </a>
  <a routerLink="/what-to-play" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="toggleSidebar()">
    What to Play
  </a>
</div>
<router-outlet />
